<ion-content padding>
  <ion-list lines="none">
    <ion-item>
      <ion-icon slot="start" color="medium" name="information-circle"></ion-icon>
      <ion-label> Application version: 1.1.5 </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label> Ionic version: 4.12.0 </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
  