<ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>QR Code Generator</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear">
        <ion-icon name="logo-ionic"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding forceOverscroll="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Text</ion-label>
          <ion-textarea mode="ios" rows="10" [(ngModel)]="json" placeholder="Type text here..."></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" mode="ios" (click)="generateBarCode()"> Generate </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list lines="full" mode="ios">
          <ion-list-header> SETTINGS </ion-list-header>

          <ion-item>
            <ion-label>
              <h2>Encode type</h2>
            </ion-label>
            <ion-select placeholder="Select one" mode="ios" [(ngModel)]="encodeType">
              <ion-select-option value="TEXT_TYPE">TEXT_TYPE</ion-select-option>
              <ion-select-option value="EMAIL_TYPE">EMAIL_TYPE</ion-select-option>
              <ion-select-option value="PHONE_TYPE">PHONE_TYPE</ion-select-option>
              <ion-select-option value="SMS_TYPE">SMS_TYPE</ion-select-option>
            </ion-select>
          </ion-item>

        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
  