<ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>SQLite</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear">
        <ion-icon name="logo-ionic"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button color="primary" (click)="getResponse();"> Get Data </ion-button>
  <ion-button color="light" (click)="clear();"> Clear </ion-button>
  <ion-input placeholder="Response" [(ngModel)]="response"></ion-input>

  <ion-input placeholder="Min Range" [(ngModel)]="min"></ion-input>
  <ion-input placeholder="Max Range" [(ngModel)]="max"></ion-input>
  <ion-input placeholder="Type" [(ngModel)]="tableName"></ion-input>
  <ion-button color="primary" (click)="runQuery();"> Run Query </ion-button>
  <ion-input placeholder="Response" [(ngModel)]="responseAQ"></ion-input>
</ion-content>
  