ion-header {
  &:after {
      background: none;
  }
}
ion-item {
  &.nav-link {
      --color: #7c7c80;
  }
  &.active {
      --color: #2a2a2a;
      --background: #fafafa;
      --padding-start: 12px;
      --border-style: solid;
      --border-width: 0 0 0 4px;
      --border-color: #3880ff;
  }
}