<ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Chart JS</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear">
        <ion-icon name="logo-ionic"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>

    <ion-row>
      <ion-col size="12"> <canvas #ctx> </canvas> </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
  