<ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Barcode Scanner</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear" routerLink="/home/barcode-scanner/generate">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding forceOverscroll="true">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" mode="ios" (click)="scanBarCode()"> Scan </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Response</ion-label>
          <ion-textarea mode="ios" rows="10" [value]="json|json" readonly="true" placeholder="Response is printed here..."></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list lines="full" mode="ios">
          <ion-list-header> SETTINGS </ion-list-header>
      
          <ion-item>
            <ion-label>
              <h2>Disable success beep</h2>
            </ion-label>
            <ion-toggle slot="end" [(ngModel)]="scannerOptions.disableSuccessBeep"></ion-toggle>
          </ion-item>

          <ion-item>
            <ion-label>
              <h2>Show torch button</h2>
            </ion-label>
            <ion-toggle slot="end" [(ngModel)]="scannerOptions.showTorchButton"></ion-toggle>
          </ion-item>          


        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
