// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.m {
  &-auto {
    margin: auto;
  }

  &-10 {
    margin: 10px;
  }

  &-b {
    &-10 {
      margin-bottom: 10px;
    }
    &-20 {
      margin-bottom: 20px;
    }
    &-30 {
      margin-bottom: 30px;
    }
    &-40 {
      margin-bottom: 40px;
    }
    &-50 {
      margin-bottom: 50px;
    }
  }
}

.badge {
  position: absolute;
  top: 0px;
  right: 0px;

  width: 20px;
  height: 20px;
  line-height: 20px;

  text-align: center;
  border-radius: 20px;
  font-size: 11px;
  font-weight: 600;

  background: rgb(56, 128, 255);
  color: #fff;

  &.warning {
    background: rgb(244, 67, 54);
  }
}

ion-refresher {
  background: #f1f1f1;
}

