<ion-header mode="ios" translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Calendar</ion-title>
    <ion-buttons slot="primary">
      <ion-button fill="clear">
        <ion-icon name="logo-ionic"></ion-icon>
        <!-- <ion-icon name="notifications-outline"></ion-icon> -->
        <!-- <div class="badge"> 2 </div> -->
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

</ion-content>
  
